header{
    padding:20px;
    width: 100%;
    background: white;
    height:40px;;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid lightgrey;
    
}



body{

    background-image: url("C:/Users/juanc/Desktop/homework/Basic-Portfolio/assets/images/funky-lines.png");
    background-image: repeat;
}
#name{

    position: fixed;
    position: fixed;
    left: 200px;
    top: 8px;
    padding: 22px;
    text-align: center;
    background: #4aaaa5;
    right: -44px;


    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    margin-top: -8px;
    width: 25%;


}

#about{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right:510px;
    color: #666666;
    border-right: solid lightgrey;



}

#Portfolio{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right: 421px;
    color: #666666;
    border-right: solid lightgrey;


    
}

#contact{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right: 340px;
    color: #666666;
    border-right: solid lightgrey;

    
}


#learn{
    background: white;
    border: solid lightgrey;
    padding:30px;
    position: absolute;
    width:960px;
    left:200px;
    top:120px;
    




}

#image{
    float:left;
    margin-right:10px;

}

p{
    line-height: 1.5;
    font-size: 1.1em;
    


}

h1{
    border-bottom: solid lightgrey;
    padding: 15px;
    color:#4aaaa5;



}

footer{

    padding:20px;
    position: fixed;
    width:100%;
    right:0px;
    text-align: center;
    border-top: 10px solid #4aaaa5;
  

    bottom:0px;
    background:#666666;
    color:white;
}