/* Index.html  */


header{
    padding:20px;
    width: 100%;
    background: white;
    height:37px;
    position: fixed;
    top: -1px;
    border-bottom: 1px solid lightgrey;
    left: 1px;

}

body{

    background-image: url("C:/Users/juanc/Desktop/homework/Basic-Portfolio/assets/images/funky-lines.png");
    background-image: repeat;
}

#name{

    position: fixed;
    left: 260px;
    top: 8px;
    padding: 22px;
    text-align: center;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    margin-top: -8px;
    width: 25%;
    height: 32px;
    font-size: 2em;
}

#about{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right:446px;
    color: #666666;
    border-right: solid lightgrey;



}

#Portfolio{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right: 357px;
    color: #666666;
    border-right: solid lightgrey;


    
}

#contact{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right: 275px;
    color: #666666;
    border-right: solid lightgrey;

    
}


#learn{
    background: white;
    border: solid lightgrey;
    padding:30px;
    position: absolute;
    width:960px;
    left:260px;
    top:120px;
    




}

#image{
    float:left;
    margin-right:10px;

}

p{
    line-height: 1.5;
    font-size: 1.1em;
    


}

h1{
    border-bottom: solid lightgrey;
    padding: 15px;
    color:#4aaaa5;



}

footer{

    padding:20px;
    position: fixed;
    width:100%;
    right:0px;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    bottom:0px;
    background:#666666;
    color:white;
}

/* contact.html */

#name1{
    

  
    position: fixed;
    left: 260px;
    top: 8px;
    padding: 22px;
    text-align: center;
    background: #4aaaa5;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    margin-top: -8px;
    width: 25%;
    height: 32px;

    
    
}
#About1{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right:446px;
    color: #666666;
    border-right: solid lightgrey;
      
  




}

#portfolio1{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right: 357px;
    color: #666666;
    border-right: solid lightgrey;
    


    
}

#contact1{

    position: fixed;
    padding:15px;
    text-align: center;
    background:white;
    right: 275px;
    color: #666666;
    border-right: solid lightgrey;
}

#clean{

    padding: 20px;
    background-color:white;
    border: solid 1px lightgrey;
    width: 960px;
    position: fixed;
    bottom: 150px;
    left: 260px;
    height: 480px;



}

#top{

    padding: 10px;
    position: relative;
    top: -20px;

}

#mid{

    padding: 10px;
    position: relative;
    top: -20px;
    color:#777777;
    




}

#midi{

    padding: 7px;
    border: 1px solid lightgrey;
    position: relative;
    top: -10px;


}

#mid2{

    padding: 10px;
    position: relative;
    top: -50px;
    color: #777777;


}

#mid2i{

    padding: 7px;
    border: 1px solid lightgrey;
    position: relative;
    top: -10px;


}

#bottom{

    padding: 10px;
    position: relative;
    top: -80px;
    color: #777777;

}

#bottomi{

    padding: 10px;
    border: solid 1px lightgrey;
    height: 100px;


}

#last{

    padding: 5px;
    height:20px;
    width: 80px;
    background-color: #4aaaa5;
    position: relative;
    top: -90px;
    left: 10px;
    border: solid lightgrey 1px;



}

#last1{
    position: relative;
    bottom: 20px;
    left: 15px;
    color: white;



}
